* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';

    a {
        color: #fff;
    }
}

.headerMenuLine::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #D9D9D9;
    border-radius: 1rem;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.languageLink {
    color: #fff;

    &.active {
        color: #CEBD88;
        text-decoration: underline;
    }
}

.menuListButton {
    position: relative;

    .link {
        font-style: normal;
    }

    .link:hover,
    .active {
        color: #CEBD88;
    }

    &:hover::after,
    .active::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #CEBD88;
        border-radius: 1rem;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 1;
    }
}

.swiper-button-prev,
.swiper-button-next {
    top: 100px;
    color: #fff;

    &::after {
        font-size: 27px;
    }
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #CEBD88;
    position: relative;
    margin-right: .3rem;
}

.swiper-pagination-bullet-active {
    &::after {
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #CEBD88;
        position: absolute;
        top: -30%;
        left: -30%;
    }
}